{% extends 'core/base.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">Users</li>
<li class="breadcrumb-item active">ResetPassword</li>
{% endblock breadcrumb%}

{% block body %}

<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            {% csrf_token %}
                            <h3>Reset Password</h3>
                            <p class="text-muted">Enter Your Mail For Reset Link</p>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form.email }}
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        {% if form.email.errors %}
                                        <ol>
                                            {% for error in form.email.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

